{% extends 'base.html.twig' %}
{% block body %}
    {% include 'default/header.html.twig' %}

    <!-- Scroll to top button -->
    <div class="scrolltotop">
        <a class="button-circle button-circle-sm button-circle-dark" href="#"><i class="ti-arrow-up"></i></a>
    </div>
    <!-- end Scroll to top button -->

    <!-- Home section -->
    <div class="section-xl bg-image parallax" style="background-image: url('{{ asset('assets/images/business-consulting-bg-new.jpg') }}')">
        <div class="bg-black-02">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-7">
                        <div class="bg-black-07 padding-50">
                            <h2 class="font-weight-light no-margin">Great things in business are never done by one person. They're done by a team of people.</h2>
                        </div>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </div>
    </div>
    <!-- end Home section -->

    <!-- About section -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h5 class="font-weight-light no-margin">Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Phasellus viverra nulla ut metus varius laoreet.</h5>
                </div>
                <div class="col-12 col-md-6">
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end About section -->

    <!-- Facts section -->
    <div class="container text-center">
        <div class="border-all border-radius padding-50">
            <div class="row facts-wrapper">
                <div class="col-12 col-sm-6 col-md-4">
                    <h2 class="font-weight-light facts-counter">50</h2>
                    <h6 class="heading-uppercase">Products</h6>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <h2 class="font-weight-light facts-counter">74</h2>
                    <h6 class="heading-uppercase">Brands</h6>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <h2 class="font-weight-light facts-counter">300</h2>
                    <h6 class="heading-uppercase">Happy Clients</h6>
                </div>
            </div><!-- end row -->
        </div>
    </div><!-- end container -->
    <!-- end Facts section -->

    <!-- Services section -->
    <div class="section">
        <div class="container text-center">
            <div class="section-title">
                <h2 class="font-weight-normal">What I Do</h2>
            </div>
            <div class="row col-spacing-40">
                <div class="col-12 col-lg-4 icon-4xl">
                    <div class="bg-white padding-40 border-radius border-all">
                        <i class="ti-ruler-pencil text-dark margin-top-10"></i>
                        <h5 class="font-weight-normal margin-top-20">Graphic Design</h5>
                        <p class="margin-bottom-10">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4 icon-4xl">
                    <div class="bg-white padding-40 border-radius border-all">
                        <i class="ti-camera text-dark margin-top-10"></i>
                        <h5 class="font-weight-normal margin-top-20">Photography</h5>
                        <p class="margin-bottom-10">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4 icon-4xl">
                    <div class="bg-white padding-40 border-radius border-all">
                        <i class="ti-star text-dark margin-top-10"></i>
                        <h5 class="font-weight-normal margin-top-20">Social Marketing</h5>
                        <p class="margin-bottom-10">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    </div>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
    <!-- end Services section -->

    {% include 'default/footer.html.twig' %}
{% endblock %}