<div>
    <div class="custom-footer-cover"></div>
    <div class="custom-footer-content">
        <div class="container">
            <div class="row align-items-center">
                <div class="custom-footer-title"><a href="">{{ 'translate.home'|trans }}</a></div>
                <div class="custom-footer-title"><a href="">{{ 'translate.products'|trans }}</a></div>
                <div class="custom-footer-title"><a href="">{{ 'translate.recette'|trans }}</a></div>
                <div class="custom-footer-title"><a href="">{{ 'translate.contact'|trans }}</a></div>
            </div>
            <hr class="custom-line-white">
            <div class="row">
                <div class="col-10 custom-footer-bottom">
                    &copy; 2019 Le Petit Fermier
                </div>
                <div class="col-1 custom-footer-bottom1">
                    <a href=""><i class="fa fa-facebook-f"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>