html{overflow-x: hidden;}
body {
    background-image: url('./images/Galbani-Linen-BG.jpg');
}
/*HEADER */
.home-header {
    height: 85vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
}

.custom-row-head {
    height: 85vh;
}

.custom-title1 {
    font-size: 60px;
    line-height: .92em;
    color: #fff!important;
    padding-bottom: 20px;
    font-family: 'neutra-text' !important;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.custom-title2 {
    font-family: 'neutra-text' !important;
    padding: 7px;
    color: #fff!important;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-size: 20px;
    border: 2px solid;
    border-color: #fff;
    border-radius: 50px;
}

.custom-title3 {
    font-size: 60px;
    line-height: .92em;
    color: #fff!important;
    padding-bottom: 20px;
    font-family: 'neutra-text' !important;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin-top: 150px;
}

.custom-title4 {
    font-size: 30px;
    line-height: .92em;
    color: #fff!important;
    padding-bottom: 20px;
    font-family: 'neutra-text' !important;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.custom-title2:hover {
    text-decoration: none;
    background-color: rgba(255,255,255,0.4);
}

a {
    text-decoration: none !important;
}

.custom-header {
    width: 100vw;
    height: 15vh;
    background-color: #E31818 !important;
}

.custom-navbar-row {
    height: 15vh;
    font-size: 1.4em;
}

.navbar-custom-title {
    color: #fff !important;
    margin: 10px;
}

.navbar-custom-title:hover {
    color: lightgrey !important;
}

.cart-logo {
    position: fixed;
    top: 100px;
    right: 5px;
    z-index: 3;
}

.cart-logo i {
    font-size: 1.5em;
    color: darkgrey;
}

/* HEADER */
/*PRODUCTS */
.custom-desc-parag {
    color: #676767;
    font-weight: 400;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 18px;
    text-align: justify;
    text-align-last: center;
    line-height: 2;
}

.custom-line {
    height: 1px;
    border-color: green;
    background-color: green;
    width: 150px;
    font-size: 5em;
    margin-bottom: 30px;
}

.custom-product-list {
    margin-top: 70px;
    margin-bottom: 70px;
}

.custom-product-title {
    color: #333333;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 1.9em;
}

.custom-product-item {
    margin: 10px;
    border: 1px solid;
    border-color: #DDDDDD;
    background-color: white;
}

.custom-product-item1 {
    margin: 10px;
    border: 1px solid;
    border-color: #DDDDDD;
    background-color: white !important;
    padding: 0;
}

.custom-item-name {
    padding-bottom: 10px;
    text-decoration: none;
    color: #676767;
    font-weight: 400;
    font-size: 1.4em;
}

.custom-item-name1 {
    padding-top: 15px;
    padding-bottom: 10px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.4em;
}

.custom-item-name:hover, .custom-item-name1:hover  {
    text-decoration: underline;
}

.custom-procucts-button1 {
    color: #198557;
    padding: 10px 20px 10px 20px;
    font-weight: 500;
    font-size: 1.1em;
    border: 2px solid;
    border-color: #198557;
    border-radius: 50px;
    margin-top: 50px;
}

.custom-procucts-button1:hover {
    background-color: rgba(220, 220, 220, 0.6);
}
/* PRODUCTS*/
/* Recipes */
.custom-recipe-name {
    padding: 100px;
    background-color: rgba(10,10,0,0.4);
    margin-bottom: 20px;
}

.recipe_carousel_button {
    margin-bottom: 50px;
    margin-top: 50px;
}

.custom-recipe-button1 {
    border: 2px solid;
    border-color: white;
    text-decoration: none;
    border-radius: 50px;
    padding: 15px;
    color: white;
    font-weight: 500;
    font-size: 1.1em;
}

.custom-recipe-button1 a {
    color: white;
}

.custom-recipe-button1:hover {
    background-color: rgba(220, 220, 220, 0.6);
    color: white;
}

.custom-recipe-list {
    background-image: url("./images/wood-background.jpg");
    padding-top: 70px;
    padding-bottom: 70px;
}
.custom-recipe-parag {
    color: white;
    line-height: 2.5;
    font-weight: 500;
    font-size: 1.2em;
}

.custom-recipe-button {
    margin-top: 30px;
    border: 2px solid;
    border-color: white;
    border-radius: 50px;
}

.custom-recipe-button:hover {
    text-decoration: none;
    background-color: rgba(255,255,255,0.4);
}
/* Recipes */
/* Description */
.custom-desc-title {
    color: #333333;
    padding-bottom: 50px;
    margin-top: 80px;
    text-decoration: none;
    font-weight: 400;
    font-size: 2.5em;
}

.custom-desc1-parag {
    color: #676767;
    font-weight: 400;
    margin-bottom: 80px;
    font-size: 18px;
    text-align: justify;
    text-align-last: center;
    line-height: 2;
}

.custom-procucts-button {
    color: #198557;
    padding: 10px 20px 10px 20px;
    font-weight: 500;
    font-size: 1.1em;
    border: 2px solid;
    border-color: #198557;
    border-radius: 50px;
    margin-bottom: 100px;
}

.custom-procucts-button:hover {
    background-color: rgba(220, 220, 220, 0.6);
}
/* Description */
/* footer */
.custom-footer-cover {
    margin-top : 70px;
    background-image: url('images/Galbani-Landscape-Footer-1600.png') !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    width: 100vw;
    height: 35vh;
}

.custom-footer-content {
    background-color: #006B40;
}

.custom-footer-title {
    padding-top: 10px;
    font-weight: 400;
    font-size: 1.2em;
    margin: 20px;
    text-decoration: underline;
}

.custom-footer-title a {
    text-decoration: none;
    color: white;
}

.custom-line-white {
    border-color: rgba(255, 255, 255, 0.2);
}

.custom-footer-bottom {
    font-weight: 400;
    margin: 10px;
    color: white;
    padding-bottom: 10px;
}

.custom-footer-bottom1 {
    font-weight: 400;
    font-size: 2em;
}

.custom-footer-bottom1 a {
    text-decoration: none;
    color: white;
}
/* footer */
/* Products Page */
.custom-header-products {
    background-image: url("./images/95011919-web.jpg");
    height: 60vh;
    background-size: cover;
    background-position: center center;
}

.custom-header-products1 {
    background-image: url("./images/Galbani-Home-Header.jpg");
    height: 30vh;
    background-size: cover;
    background-position: center center;
}

.custom-container-products {
    background: linear-gradient(to bottom,rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
}

.navbar-custom-title-product {
    color: #fff !important;
    margin: 10px;
    font-size: 18px !important;
    font-weight: 500;
}

.navbar-custom-title-product:hover {
    color: lightgrey !important;
}
/* Products Page */
/* product details */
.custom-product-row {
    margin-top: 70px;
}

.product-image {
    background-color: white;
    border: 1px solid;
    border-color: lightgrey;
}

.product-col {
    margin-top: 25px;
}

.product-name {
    font-weight: 500;
    font-size: 2em;
}

.product-description {
    font-weight: 500;
    font-size: 1.5em;
    margin-top: 25px;
}

.add-button {
    margin-top: 15px;
    /*border: 0.5px solid;*/
    border-color: #676767;
    border-radius: 10px;
    width: 192px;
    font-weight: 500;
    font-size: 1.1em;
    border: 2px solid;
    border-color: #006B40;
    background-color: #006B40;
    color: white;
    padding-left: 10px;
}

.add-button input {
    border: none;
    padding: 10px;
    color: white;
}

.add-button input:hover {
    color: white;
}

.add-button:hover {
    background-color: rgba(0, 107, 64, 0.8);
}

.quantity-product {
    margin-top: 30px;
    font-weight: 500;
    font-size: 1.3em;
}

.product-cart-form {
    margin-top: 10px;
    width: 192px;
}
/* product details */
/* cart page */
.head-title {
    font-size: 4em;
    text-align: center;
    margin-bottom: 40px;
}

.shop-all-title {
    margin-top: 50px;
}

.table thead tr th {
    border: none;
}

.cart-ref {
    color: grey;
    padding-top: 20px;
}

.cart-grey {
    color: grey;
}

.cart-delete {
    margin-top: 20px;
}

.cart-delete a {
    color: black;
    text-decoration: underline;
}

.cart-delete a:hover {
    color: grey;
}

.cart-first-col {
    font-size: 1.5em;
    font-weight: 500;
}

.cart-row {
    padding-top: 30px;
    padding-bottom: 30px;
}

.cart-continue a {
    text-decoration: none;
    color: seagreen;
}

.cart-continue a:hover {
    text-decoration: none;
    color: lightseagreen;
}

.cart-img {
    width: 153px;
    height: 193px;
    border: 1px solid;
    border-color: #ccc;
    background-color: white;
}

.cart-img-right {
    margin-left: 40px;
}

.cart-container {
    width: 860px;
    margin: 0 auto;
}

.cart-quantity-edit input {
    width: 70px;
    float: right;
    border-radius: 0;
}

.total-text {
    margin-top: 15px;
    font-weight: 500;
}

.total-text1 {
    font-size: 1.5em;
    font-weight: 500;
}

.checkout-btn1 {
    width: 100%;
}

.checkout-btn1 button {
    background-color: rgb(0, 107, 64);
    border: 2px solid;
    border-color: rgb(0, 107, 64);
    color: white;
    border-radius: 0;
    margin-top: 20px;
    width: 100%;
}

.checkout-btn1 button:hover {
    background-color: rgba(0, 107, 64, 0.8);
}
/* cart page */
/* contact */
.contact-text {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 50px;
}

.contact-title {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.contact-btn {
    background: transparent;
    border-radius: 0;
    text-align: center;
}

.contact-input {
    background: transparent;
    color: #c6c6c6;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #c6c6c6;
}

.contact-input:focus {
    box-shadow: none;
    background: transparent;
}

.contact-form {
    margin: 0 45px 45px auto;
}

.shop-all-text {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 50px;
}

.checkout-title {
    font-size: 2em;
}
/* contact */

.btn-products {
    background-color: #32CD32;
    color: white;
    padding: 15px;
    font-weight: 700 !important;
    border-radius: 50px !important;
    border: 1px solid;
    border-color: #32CD32;
}

.btn-products:hover {
    background-color: rgba(50,205,50,0.6);
    cursor: pointer;
}