{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/navbar.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/recipe.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
{% endblock %}

{% block body %}
    {% include 'default/header.html.twig' %}

    <div class="container-fluid">
        <div class="row" style="margin-left: 40px;margin-top: 56px;">
            <div class="col-xs-6">
                <div style="margin-bottom: 20px">
                    <h1 class="recipe-title">Portobello and Pancetta with Parmesan Lasagna</h1>
                </div>
                <div>
                    <img class="responsive recipe-image"
                         src="{{ asset('assets/images/Gnocchi-with-Italian-Sausage-Mozzarella-and-Rappini_RGB_HR-e1534525952615-1024x823.png') }}"/>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="recipe-ingredient">

                    <div style="padding-top: 60px;padding-left: 55px">
                        <h2>Ingrédients</h2>
                    </div>
                    <div style="padding-left: 35px">
                        <ul>
                            <li>16 oz. Chunk Mozzarella, râpé</li>
                            <li>6 oz. pancetta, diced</li>
                            <li>3 Tbsp. Extra Virgin Olive Oil</li>
                            <li>4 portobello caps, ribs removed, 1/2 inch dice</li>
                            <li>11/2 lb. baby bella(Cremini) mushrooms, diced</li>
                            <li>3 shallots, minced</li>
                            <li>1 cup dry white wine</li>
                            <li>1 cup dry white wine</li>
                            <li>1 cup dry white wine</li>
                            <li>1 cup dry white wine</li>
                            <li>1 cup dry white wine</li>
                            <li>1 cup dry white wine</li>
                            <li>1 cup dry white wine</li>
                        </ul>
                    </div>
                    <div style="padding-left: 55px">
                        <h2>Instructions</h2>
                    </div>
                    <div style="padding-left: 35px;padding-right: 30px">
                        <ol>
                            <li>préchauffer le four à 400 degrés F.</li>
                            <li>It is a long established fact that a reader will be distracted by the readable content
                                of a
                                page
                                when looking at its layout. The point of using Lorem Ipsum
                            </li>
                            <li>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered
                                alteration in some form, by injected humour, or randomised words which don't look even
                                slightly
                                believable.
                            </li>
                            <li>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered
                                alteration in some form, by injected humour, or randomised words which don't look even
                                slightly
                                believable.
                            </li>
                            <li>
                                There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered
                                alteration in some form, by injected humour, or randomised words which don't look even
                                slightly
                                believable.
                            </li>
                            <li>
                                There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered
                                alteration in some form, by injected humour, or randomised words which don't look even
                                slightly
                                believable.
                            </li>
                            <li>
                                It is a long established fact that a reader will be distracted by the readable content
                                of a
                                page
                                when looking at its layout. The point of using Lorem Ipsum
                            </li>
                            <li>It is a long established fact that a reader will be distracted by the readable content
                                of a
                                page
                                when looking at its layout. The point of using Lorem Ipsum
                            </li>
                            <li>There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered
                                alteration in some form, by injected humour, or randomised words which don't look even
                                slightly
                                believable.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="background-color: white !important;height: 205px; margin-top: 25px;margin-bottom: -70px">
            <div class="col">
                <button type="button" class="btn btn-outline-secondary recipe-button"><i class="fas fa-arrow-left"></i> Meatball Lasagna (Neopolitan Style)</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-outline-secondary recipe-button" style="margin-left: 40px;">Campanelle with Roasted Garlic, Chiken and Arugula <i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
    {% include 'default/footer.html.twig' %}

{% endblock %}

